.password input {
    font-size: 1.2em
}

.password input[type=password] {
    width: 220px;
    margin: 0
}

.password input[type=text] {
    width: 185px;
    height: 26px;
    z-index: -10;
    border: none;
    position: relative;
    left: 59px;
    top: -66px
}
.password div {
    width: 34px;
    height: 28px;
    position: relative;
    top: -33px;
    left: 245px;
    z-index: 9;
    background-size: contain;
    background-image:url('./img/img2.png')
}
.password div:hover{
  background-image:url('./img/img1.png')
}

